accelerate==0.17.1
apex==0.9.10dev
bitsandbytes==0.39.1
datasets==2.12.0
decord==0.6.0
deepspeed==0.9.2
einops==0.6.1
fairscale==0.4.13
fastapi==0.99.1
ffmpy==0.3.0
fire==0.4.0
flash_attn==1.0.4
gradio==3.35.2
huggingface_hub==0.14.1
markdown2==2.4.8
numpy==1.24.3
openai==0.27.8
opencv_python==4.7.0.72
opencv_python_headless==4.7.0.72
optuna==3.2.0
packaging==21.3
pandas==1.5.3
peft==0.3.0
Pillow==10.0.0
poe_api==0.4.4
ray==2.5.1
Requests==2.31.0
scikit_learn==1.2.2
skimage==0.0
spacy==3.5.3
torch==2.0.0+cu117
torch_xla==1.0
torchvision==0.15.1+cu117
tqdm==4.65.0
transformers==4.28.0.dev0
uvicorn==0.22.0
